<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestRest">
    <classes>
      <class name="edu.universit.testselenium.TestSelenium.Send_HTTP_Post_Request"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
